body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.bg-img {
    /* navigation bar background image setup */
    background-image: url("/images/code-snip.png");
    background-repeat: repeat;
    background-size: 25em;
}

nav ul {
    list-style: none;
    text-align: center;
    text-decoration: solid ;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0;
}
nav li {
    font-size: 30px;
    line-height: 20px;
    height: 25px;
    display: inline-block;
    margin: 2.5%;
}

nav a{
    text-decoration: none;
    background-color: black;
    color: #fff;
    display: block;
}
nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
}

.card {
    float: left;
    width: 33%;
    margin-left: 10%;
    margin-top: 20px;
}

.card a {
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
}

.card a{
    text-align: center;
    text-decoration: none;
    background-color: none;
    color: #fff;
    display: block;
}
.card a:hover {
    color: #ccc01c;
}

.gits {
    float: left;
    width: 20%;
    margin-left: 10%; 
    margin-top: 20px;
}

.gits a {
    text-align: center;
}

.gits img {
    height: 50%;
    width: 50%;
}

.gits a{
    text-align: center;
    text-decoration: none;
    background-color: none;
    color: #fff;
    display: block;
}
.gits a:hover {
    color: #ccc01c;
}

h1 {
    margin-top: 0px;
    padding: 50px;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgb(27, 49, 27);
} 

body {
    background-image: url("/images/bg-main.png");
    background-size: cover;
}

.str {
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-top: 50px;
}

.str img {
    width: 50%;
    height: 50%;
}

.str a{
    text-align: center;
    text-decoration: none;
    background-color: none;
    color: #fff;
    display: block;
}

.str a:hover {
    color: #ccc01c;
}    
